@tailwind base;
@tailwind components;
@tailwind utilities;

@layer text {
  .text-primary {
    @apply text-black dark:text-neutral-200;
  }

  .text-secondary {
    @apply text-neutral-700 dark:text-neutral-500;
  }
}

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  /* font-family: 'Manrope'; */
  font-family: 'DM Sans', serif;
  /* font-family: 'IBM Plex Sans', serif;
   */
  -webkit-font-smoothing: antialiased;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
